.pie {
  cursor: pointer;
  color: #0088cc;
}
#thisPizza {
  display: none;
}
#pizzaOptions {
  display: none;
}
#reciept {
  display: none;
}
.container {
  margin-top: 8%;
}
#reciept {
  display: none;
}

#pizzasOrdered {
  text-transform: capitalize;
}
